<div class="row">
  <div class="col-md-8 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Администрирование</div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'Управление пользователями', users_path  %></li>
        <li class="list-group-item"><%= link_to 'Управление компаниями', ''  %></li>
        <li class="list-group-item"><%= link_to 'Адреса', addresses_path  %></li>
        <li class="list-group-item">Управление элементами приложения</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Что-нибудь ещё!</div>
      <ul class="list-group">
        <li class="list-group-item">Lorem ipsum</li>
        <li class="list-group-item">Dolore sit amet</li>
      </ul>
    </div>
  </div>
</div>