<div class="row">
  <h1><p class="text-center">Создание учётной записи продавца</p></h1>
</div>
<div class="sign_in_up">
  <h2 class='text-center'>Добавление нового продавца</h2>
  <%= render 'form' %>
</div>