<div class="row">
	<h1><p class="text-center">Мои продукты</p></h1>
</div>
<div class="row">
	<div class="col-md-2">
		<%= link_to "Добавить товар", new_user_product_path(current_user), class: "btn btn-primary link" %> 
	</div>
</div>