<h1 class="text-center" id="product_create_header">Добавление нового товара</h1>

<%= render 'form' %>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-12">
			<%= link_to "Назад", company_products_path(current_user.company_id), class: "btn btn-primary link" %>
		</div>
	</div>
</div>